apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mealie
  name: mealie
  namespace: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: mealie
    spec:
      containers:
        - image: ghcr.to/mealie-recipes/mealie:v1.2.0
          name: mealie
          ports:
            -  containerPort: 9000
